[Desktop Entry]
Type=Application
Name=Disable motherboard beep on Xfce
Comment=Mute terminal and logout beep
Exec=xset b off
Terminal=false
OnlyShowIn=XFCE;
